/* --------------------------------- MIXINS --------------------------------- */
@mixin flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* -------------------------------- VARIABLES ------------------------------- */
//COLORS
$white: #fcfcfc;
/* ---------------------------- COMPONENT STYLING --------------------------- */

.appointments_component_container {
  @include flex_column;
  margin-top: 1.5em;
  width: 80%;
  height: auto;
  background-color: $white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    width: 90%;
    margin-bottom: 1em;
  }
  .appointments_container {
    width: 100%;
    height: auto;
  }
}

.btn_container {
  padding: 1em;
  button {
    background: #fcae65;
    border: 1px solid #fcae65;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }

  button:hover,
  button:active {
    background-color: initial;
    background-position: 0 0;
    color: #fab06c;
  }

  button:active {
    opacity: 0.5;
  }
}
