/* -------------------------------- MIXINS ------------------------------- */
@mixin flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* -------------------------------- VARIABLES ------------------------------- */

/* ---------------------------- COMPONENT STYLING --------------------------- */
.modal_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  @include flex_column;
  padding: 30px;
  max-width: 680px;
  margin: 200px auto;
  background: #fff;
  border-radius: 10px;
  hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    width: 95%;
    margin-bottom: 1em;
  }
  .modal_header {
    @include flex_row;
    margin-bottom: 2em;
    width: 100%;
    .modal_title {
      font-size: 1.3em;
      font-weight: 600;
    }
    .close_modal_btn {
      background: #fcae65;
      border: 1px solid #fcae65;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      font-weight: 600;
      line-height: 16px;
      outline: 0;
      width: 2em;
      height: 2em;
    }
    .close_modal_btn:hover {
      background-color: initial;
      background-position: 0 0;
      color: #fab06c;
    }
  }
}

.modal_content {
  width: 100%;
}
